.addemp-header {
    background: #1DA1F2;
    color: #fff;
}
.name-input {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(13, 110, 253, .25);
    input {
        border: none;
        border-radius: 0;
        &:focus {
            box-shadow: none;
            border: none;
        }
    }
}
.select-role {
    padding: 0;
    select {
        padding-left: 43px;
        border: 1px solid #ddd;
        border-radius: 5px !important;
        box-shadow: 0 0 0 1px rgba(13, 110, 253, .25);
    }
}